<ion-content>

    <ion-title>Favorite Publications</ion-title>

    <div *ngIf="favorites$ | async as favorites">
        <div *ngFor="let item of favorites">
            <ion-card>

                <ion-card-subtitle>{{item.publication_name}} {{item.publication_firstname}} : {{item.publication_date | date: 'dd/MM/yyyy'}}</ion-card-subtitle>
                <ion-card-title>{{item.publication_title}}</ion-card-title>

                <ion-card-content>
                    {{item.publication_text}}
                </ion-card-content>

                <ion-item class="supFav">
                    <button (click)="remove(item.publication_id)">
                        <ion-label>Supprimer des Favoris</ion-label>
                        <ion-icon name="heart-dislike-outline"></ion-icon>
                    </button>
                </ion-item>
            </ion-card>

        </div>
    </div>
</ion-content>