ion-content{

    .publicationAddFav{
        margin-left: 20px;
        text-transform: capitalize;
    }

    .publicationsUsers{
        text-decoration: none;
        text-transform: capitalize;
    }
}