<ion-content>

    <ion-title>{{title}}</ion-title>

    <div *ngIf="publications$ | async as publications">
        <!-- bouton ajout user aux favoris -->
        <ion-button  class="publicationAddFav" size="small" color="success" *ngIf="filter" (click)="addFavoriteUser(publications[0].publication_userId)">
            <!-- ajout du nom de l'user dans le bouton -->
            Add {{publications[0].publication_name}} to favorite
        </ion-button>

        <div *ngFor="let item of publications">
            <ion-list>
            <ion-card>

                <ion-card-header>
                    <ion-card-subtitle>
                        <!-- détaille de l'utilisateur -->
                        <a class="publicationsUsers" [routerLink]="'/user/' + item.publication_userId">{{ item.publication_name }} {{ item.publication_firstname }}</a> : {{item.publication_date | date: 'dd/MM/yyyy - HH:mm'}}
                    </ion-card-subtitle>
                    <ion-card-title>
                        <!-- titre de la publication -->
                        {{ item.publication_title }}
                        <!-- bouton ajour l'article aux favoris -->
                        <button color="medium" size="small" (click)="addFavoritePublication(item.publication_id)">
                            <!-- icon heart a la place du mot favorite -->
                            <ion-icon name="heart-outline" alt="Add to favorite" title="Add to favorite"></ion-icon>
                        </button>
                    </ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    {{ item.publication_text }}
                </ion-card-content>

            </ion-card>
        </ion-list>
        </div>
    </div>
</ion-content>