<ion-content>

    <ion-title>Favorite Users</ion-title>

    <div *ngIf="favorites$ | async as favorites">
        <div *ngFor="let item of favorites">
            <ion-list>
                <ion-item>
                    <ion-item>{{item.favorite_name}} {{item.favorite_firstname}}</ion-item>
                    <ion-button size="small" color="danger" slot="end" (click)="remove(item.favorite_id)">Supprimer</ion-button>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>